{% load static %}

{% for post in posts %}
    <div class="card clickable-card post_card"
         onclick="show_modal('#card-for{{ post.id }}')"
         id="card-for{{ post.id }}"
         >
        <!--          onclick="window.location='#'" -->


        <!-- for images -->
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body" >
            <!-- help from here: https://slickmedia.co.uk/blog/glenns-blog/trigger-bootstrap-modal-with-link/ -->
            <!-- <a data-toggle="modal" class="stretched-link" href="#post_modal" id="modal_trigger"></a> -->
            <h5 class="card-title">{{ post.title }}</h5>

            <hr/>

            <p class="card-text">{{ post.message }}</p>
            <a href="{% url 'posts:up_or_downvote' up_or_downvote='upvote' postid=post.id %}">
                upvote
            </a>
            <a href="{% url 'posts:up_or_downvote' up_or_downvote='downvote' postid=post.id %}">
                downvote
            </a>
            <p>
                upvotes: {{ post.num_of_upvotes }}
            </p>
            <p>
                downvotes: {{ post.num_of_downvotes }}
            </p>
            <p>Created by <a href="">{{ post.creator }}</a> at {{ post.created_at }}</p>
        </div>
    </div>
{% endfor %}
