{% extends 'base.html' %}

{% block title%}
    <title>Channel: {{channel_name}}</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Channel: {{ channel_name }}</h1>
        <h3><a href="{% url "posts:create" channel.pk %}">Make
            a post!</a></h3>
        {% if isin_channel %}
            <h5><a href="{% url "channels:join_channel" channel.pk 0 %}">
                Leave this channel
            </a></h5>
        {% else %}
            <h5><a href="{% url "channels:join_channel" channel.pk 1 %}">
                Join Channel
            </a></h5>
        {% endif %}

        {% if columns %}
            <a href="{% url "channels:posts" channel.pk 0 %}">List View</a>
        {% else %}
            <a href="{% url "channels:posts" channel.pk 1 %}">Column View</a>
        {% endif %}

        <h2>Posts:</h2>

        <div class="{% if columns %}card-columns{% endif %}">
            {% include 'channels/_post_listings.html' %}
        </div>


        <h2>Members:</h2>
        <ul>
            {% for member in channel_members %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>


    </div>


    <div class="modal fade bd-example-modal-lg"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="post_modal"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
                <!-- <center><h1 id="modal_title">Title</h1></center> -->
                <p id="modal_message">this is the message</p>

            </div>
        </div>
    </div>


    <script>

     function show_modal(cardid) {
         var cardText = $(cardid).html();
         /*      $("#modal_title").text(title); */
         $("#modal_message").html(cardText);
         $("#post_modal").modal();

     }

    </script>

{% endblock %}
