{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    <title>Create Channel</title>
{% endblock %}


{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7E0Z5BPny7CTI5mm9MfxbdBKsjy94PXU&libraries=places&callback=initAutocomplete" async defer></script>

<script>
  let autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      {
        fields: ['place_id', 'geometry', 'name']
      });

      autocomplete.addListener('place_changed', onPlaceChanged);
  }

  function onPlaceChanged() {
    var place = autocomplete.getPlace();

    if (!place.geometry) {
      // User didnt select prediction; reset input field
      document.getElementById('autocomplete').placeholder = 'Enter a valid place';
    } else {
      // convert place to coordinates w/ geocoding
      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ placeId: place.place_id }, (results, status) => {
          if (status !== "OK" && results) {
            window.alert("Geocoder failed due to: " + status);
            return;
          }

          // Set channel location in hidden input
          channelLocation = {
              latitude: results[0].geometry.location.lat(),
              longitude: results[0].geometry.location.lng()
            };
          document.getElementById("channellocation").value = JSON.stringify(channelLocation);
        });
    }
  }

</script>

<div style="margin-top: 30px;" class="container">
        <div class="card mt-5 box-blur">
            <div class="card-body">
                <h1>Create Channel</h1>


                <form method="post">
                    {% csrf_token %}
                    <p
                        {% if same_name %}
                            style="display:block"
                        {% else %}
                            style="display:None"
                        {% endif %}
                    >
                        Sorry, a channel with that name already exists,
                        please try a different name!
                    </p>
                    {{ form|crispy }}
                      <label>
                        Channel Location:
                      </label>
                      <br/>
                      <input style="width:100%;" type="text" id="autocomplete" placeholder="Enter a place" class="location_form"/>
                      <input type="hidden" id="channellocation" name="channellocation" value="this is channel location from html" />
                      <input type="submit" value="Save">
                </form>


            </div>
        </div>
    </div>

{% endblock %}
