{% extends 'base.html' %}

{% block page_title%}
    <title>{{channel_name}}</title>
{% endblock %}

{% block body %}

    <div class="container">
        <center><h1>{{ channel_name }}</h1></center>
        <center>
            <h4><a href="{% url "posts:create" channel.pk %}">Make
            a post!</a> |
        {% if isin_channel %}
            <a href="{% url "channels:join_channel" channel.pk 0 %}">
                Leave this channel
            </a>
        {% else %}
            <a href="{% url "channels:join_channel" channel.pk 1 %}">
                Join Channel
            </a>
        {% endif %}
        </h4>
        <input
            type="range"
            min="1"
            max="100"
            value="50"
            class="slider"
            id="myRange"
            oninput="filterByRadius(this.value);"
        >

        <h5>Range: <span id="current_radius">50</span></h5>


        </center>

        <div class="float-right">
            <div class="dropdown show">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Members
                </a>
              
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    {% for member in channel_members %}
                        <a class="dropdown-item" href="{% url "users:profile_page" member.pk %}">{{ member }}</a>
                    {% endfor %}
                </div>
              </div>
            </div>

        {% if columns %}
        <form action="{% url "channels:posts" channel.pk 0 %}">
            <button type="submit" class="btn btn-light" >List View</button>
        </form>

            <!-- <p><a href="{% url "channels:posts" channel.pk 0 %}">List View</a></p> -->
        {% else %}
        <form action="{% url "channels:posts" channel.pk 1 %}">
            <button type="submit" class="btn btn-light" >Column View</button>
        </form>
        
            <!-- <pa><a href="{% url "channels:posts" channel.pk 1 %}">Column View</a></p> -->
        {% endif %}

        </br>        
        <div class="{% if columns %}card-columns{% endif %}">
            {% include 'channels/_post_listings.html' %}
        </div>


    </div>
    


    <div class="modal fade bd-example-modal-lg"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="post_modal"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
                <!-- <center><h1 id="modal_title">Title</h1></center> -->
                <p id="modal_message">this is the message</p>

            </div>
        </div>
    </div>


    <script>

     function show_modal(cardid) {
         var cardText = $(cardid).html();
         /*      $("#modal_title").text(title); */
         $("#modal_message").html(cardText);
         $("#post_modal").modal();

     }

     function filterByRadius(radius) {

         var posts = document.getElementsByClassName('myPosts');

         document.getElementById('current_radius').textContent = radius;

         for (var i = 0; i < posts.length; i ++){
             distance = parseInt(posts[i].getElementsByClassName("distance")[0].textContent);
             if (radius < distance) {
                 posts[i].style.display = 'none';
             }
             else {
                 posts[i].style.display = 'block';
             }
         }
     }

     /* default filtering to 50 kilometers */
     window.onload = filterByRadius(50);
    </script>

{% endblock %}
