{% extends 'base.html' %}

{% block title%}
    <title>Channel: {{channel_name}}</title>
{% endblock %}

{% block body %}


    <div class="container">
        <center><h1>{{ channel_name }}</h1></center>
        <center>
            <h4><a href="{% url "posts:create" channel.pk %}">Make
            a post!</a> |
        {% if isin_channel %}
            <a href="{% url "channels:join_channel" channel.pk 0 %}">
                Leave this channel
            </a>
        {% else %}
            <a href="{% url "channels:join_channel" channel.pk 1 %}">
                Join Channel
            </a>
        {% endif %}
        </h4>
        <!--
             <input
             type="number"
             class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             placeholder="Enter Radius"
             onChange="filterByRadius(this.value);"
             name="radius"
             > -->
        <input
            type="range"
            min="1"
            max="100"
            value="50"
            class="slider"
            id="myRange"
            oninput="filterByRadius(this.value);"
        >

        <h5>Range: <span id="current_radius">50</span></h5>


        </center>

        {% if columns %}
            <a href="{% url "channels:posts" channel.pk 0 %}">List View</a>
        {% else %}
            <a href="{% url "channels:posts" channel.pk 1 %}">Column View</a>
        {% endif %}


        <h2>Posts:</h2>

        <div class="{% if columns %}card-columns{% endif %}">
            {% include 'channels/_post_listings.html' %}
        </div>


        <h2>Members:</h2>
        <ul>
            {% for member in channel_members %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>


    </div>


    <div class="modal fade bd-example-modal-lg"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="post_modal"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
                <!-- <center><h1 id="modal_title">Title</h1></center> -->
                <p id="modal_message">this is the message</p>

            </div>
        </div>
    </div>


    <script>

     function show_modal(cardid) {
         var cardText = $(cardid).html();
         /*      $("#modal_title").text(title); */
         $("#modal_message").html(cardText);
         $("#post_modal").modal();

     }

     function filterByRadius(radius) {

         var posts = document.getElementsByClassName('myPosts');

         document.getElementById('current_radius').textContent = radius;

         for (var i = 0; i < posts.length; i ++){
             distance = parseInt(posts[i].getElementsByClassName("distance")[0].textContent);
             if (radius < distance) {
                 posts[i].style.display = 'none';
             }
             else {
                 posts[i].style.display = 'block';
             }
         }
     }

     /* default filtering to 50 kilometers */
     window.onload = filterByRadius(50);
    </script>

{% endblock %}
