{% extends "base.html" %}

{% block page_title %}
<title>All Channels</title>
{% endblock %}

{% block body %}
<div class="container">
  <br />
  <center><h1>Channels</h1>
  </center>
  <center>
  {% if user.username %}
  <input
      type="range"
      min="1"
      max="300"
      value="150"
      class="slider-range"
      id="myRange"
      onChange="filterByRadius(this.value)"
      onmousemove="filterByRadius(this.value)"
      >
      <h5>Range: <span id="current_radius">150</span> km</h5>
      {% endif %}
  </center>
      <ul class="container">
        <hr>
        <div class="list-group list-group-flush" style=" word-break: break-word;">
          {% for channel, distance in channels %}
          <a href="{% url "channels:posts" channel.pk %}"
             class="list-group-item
                                  list-group-item-action myChannels"
             >
             <span style="display:none;" class="distance">{{ distance }}</span>
             {{ channel.title }}  ({{ distance }} kilometers away)
          </a>
          {% endfor %}
        </div>

      </ul>
</div>
<script>

  function filterByRadius(radius) {

      var posts = document.getElementsByClassName('myChannels');

      document.getElementById('current_radius').textContent = radius;

      for (var i = 0; i < posts.length; i ++){
          distance = parseInt(posts[i].getElementsByClassName("distance")[0].textContent);
          if (radius < distance) {
              posts[i].style.display = 'none';
            }
          else {
              posts[i].style.display = 'block';
            }
        }
    }

  /* default filtering to 50 kilometers */
  window.onload = filterByRadius(150);
</script>
{% endblock %}
