{% extends "base.html" %}

{% block page_title %}
    <title>All Channels</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Channels:</h1>
        <ul>
            <!-- <div class="slidecontainer">
                 <form method="post" action="channels:list_channels">
                 <h4>Radius:</h4>
                 <input type="range" min="1" max="100" name="channelrange" value="10" id="channelrange">
                 </form>
                 </div> -->
            <form action="{% url "channels:list" %}" method="GET">
                <label for="range">Enter Radius</label>
                <input name="range" type="number" value=""/>
            </form>
            <hr>
            <div class="list-group list-group-flush">
                {% for channel, distance in channels %}
                        <a href="{% url "channels:posts" channel.pk %}"
                           class="list-group-item
                                 list-group-item-action">
                            {{ channel.title }}  ({{ distance }} kilometers away)
                        </a>
                {% endfor %}
            </div>

        </ul>
    </div>
    <!-- <script>
        let controller = null;

        function reloadChannels() {

            let radius = document.getElementById("channelrange");
            let encodedRadius = encodeURIComponent(radius);
            let url = '/loadchannels?radius=' + encodedRadius;


            if (controller !== null) {
                controller.abort();
            }
            let controller = new AbortController();

            fetch(url, {signal: controller.signal})
                .then(function(resp){return resp.json;})
                .then(function(json){
                    //create innerhtml string using json.channels and js to recreate templating functionality
                    json.channels;
                    })
                .catch(function(err){console.log(err);});
        }
        document.getElementById.addEventListener("change", reloadChannels);
    </script> -->
{% endblock %}
