<!-- login form for users -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container" onload="setGeolocation()">
    <div class="card mt-5 box-blur">
        <h1 style="margin: 20px 0px;">Log In</h1>
        <form method ="post">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="hidden" id="geolocation" name="userlocation" value="" />
            <input style="margin-bottom: 20px;" name="" type="submit" value="Log In" class ="btn btn-primary" />

        </form>

        <p>Don't have an account yet? Sign up <a href="{% url 'users:signup' %}">here!</a></p>

    </div>
</div>

<script>
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;
        document.getElementById("geolocation").value = JSON.stringify(crd);
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}; Could not obtain your location.`);
    }

    function setGeolocation() {
        navigator.geolocation.getCurrentPosition(success, error, options);
    }
</script>

<style>
    #icon {
        border-bottom: thin solid white;
    }


</style>

{% endblock %}
