<!-- login form for users -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title%}
    <title>Forgot Password Sent</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-5 box-blur">
        
            <h1 style="margin:unset ">Password rest sent!</h1>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>


    </div>
</div>


{% endblock %}