<!-- login form for users -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title%}
    <title>Forgot Password</title>
{% endblock %}

{% block body %}
<div class="back">
    <div class="div-center">
        <div class="container">
            <div class="card mt-5 box-blur">
                
                    <h1 style="margin:unset ">Password Reset</h1>
                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    <form method ="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                    </br>
                    <div class="div-center"></div>
                        <input style="margin-bottom: 20px;" name="" type="submit" value="Send Email" class ="btn btn-primary" />

                    </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}