{% extends 'base.html' %}

{% block body %}

    <script>

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7E0Z5BPny7CTI5mm9MfxbdBKsjy94PXU&libraries=places&callback=initAutocomplete" async defer></script>

    <script>
     let autocomplete;
     function initAutocomplete() {
         autocomplete = new google.maps.places.Autocomplete(
             document.getElementById('autocomplete'),
             {
                 types: ['establishment'],
                 fields: ['place_id', 'geometry', 'name']
         });

         autocomplete.addListener('place_changed', onPlaceChanged);
     }

     function onPlaceChanged() {
         var place = autocomplete.getPlace();

         if (!place.geometry) {
             // User didnt select prediction; reset input field
             document.getElementById('autocomplete').placeholder = 'Enter a valid place';
         } else {
             // convert place to coordinates w/ geocoding
             const geocoder = new google.maps.Geocoder();
             geocoder.geocode({ placeId: place.place_id }, (results, status) => {
                 if (status !== "OK" && results) {
                     window.alert("Geocoder failed due to: " + status);
                     return;
                 }

                 // Set channel location in hidden input
                 user_location = {
                     latitude: results[0].geometry.location.lat(),
                     longitude: results[0].geometry.location.lng()
                 };
                 document.getElementById("user_location").value = JSON.stringify(user_location);
             });
         }
     }
    </script>

    <div class="container">

        <center><h1>{{ this_user }}'s Profile Page</h1></center>


        {% if this_user.pk == user.pk %}
            <h1>Change Location</h1>
            <h2>Current Location = {{ user.profile.location }}</h2>
            <form method="post" action="{% url "users:change_location"  %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" id="autocomplete" placeholder="Enter a place"/>
                <input type="hidden" id="user_location" name="user_location" value="this is channel location from html" />
                <input type="submit" value="Save">
        </form>
        {% else %}

        {% endif %}

        <h1>Subscriptions</h1>
        <div class="list-group list-group-flush">
            {% for channel in channel_subscriptions %}
                <a href="{% url "channels:posts" channel.pk %}"
                   class="list-group-item
                         list-group-item-action">
                    {{ channel.title }}
                </a>
            {% endfor %}

            <hr/>

        {% if columns %}
            <a href="{% url "users:profile_page" this_user.pk 0 %}">List View</a>
        {% else %}
            <a href="{% url "users:profile_page" this_user.pk 1 %}">Column View</a>
        {% endif %}

        <h1>Posts</h1>
        <div class="{% if columns %}card-columns{% endif %}">
            {% include 'channels/_post_listings.html' %}
        </div>

    </div>


{% endblock %}
