<!-- login form for users -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title%}
    <title>Forgot Password Sent</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mt-5 box-blur">

            <form method ="post">
                <h1 style="margin:unset ">Password rest sent!</h1>
                {% csrf_token %}
                {{ form|crispy }}
            </br>
                <input style="margin-bottom: 20px;" name="" type="submit" value="Reset Password" class ="btn btn-primary" />
            </form>

    </div>
</div>


{% endblock %}