<!doctype html>
<!-- generates the urls for the static files -->
{% load static %}
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block page_title %}
        {% endblock %}


        <!-- google sign in thing -->
        <meta name="google-signin-client_id" content="599489317186-op51l48ami8e6dhp0vf29hp118k2ashb.apps.googleusercontent.com">

    </head>


    <body>

        {% block body %}
        {% endblock %}

    </body>

    <!-- javascript stuff -->
    <script src="{% static 'loginController.js'%}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</html>
