{% extends 'base.html' %}


{% block title%}
    <title>Sign-In to GetTogether</title>
{% endblock %}


{% block body %}
    <div class="container">
        <center><h1>GetTogether</h1></center>
        <center><h3><a href="{% url "posts:create" 1 %}">Make a post!</a></center></h3>
        <h3>Main Feed</h3>
        <div class="card-columns">
            {% include 'channels/_post_listings.html' %}
        </div>
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    </div>


    <div class="modal fade bd-example-modal-lg"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="post_modal"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-4">
                <!-- <center><h1 id="modal_title">Title</h1></center> -->
                <p id="modal_message">this is the message</p>

            </div>
        </div>
    </div>


    <script>

     function show_modal(cardid) {
         var cardText = $(cardid).html();
         /*      $("#modal_title").text(title); */
         $("#modal_message").html(cardText);
         $("#post_modal").modal();

     }

    </script>

{% endblock %}
