{% extends 'base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block page_title%}
    <title>Post: {{ post.title }}</title>

{% endblock %}

{% block body %}




    <div class="container">
        <center>
            <h1> {{ post.title }} </h1>
        </center>
        <br/>
        <h3>Description:</h3>
        <p>
            {{post.message}}
        </p>

        <hr/>

        {% if post.start_time %}
            <input type="hidden" id="eventlocation" value="{{ post.exact_location }}" />
            <input type="hidden" id="starttime" value="{{ post.start_time }}" />
            <input type="hidden" id="endtime" value="{{ post.end_time }}" />
            <script>
                console.log('event location: ' + document.getElementById('eventlocation').value);
            </script>
            <h5>Starts At: {{ post.start_time }}</h5>
            <h5>Ends At: {{ post.end_time }}</h5>
            {{ post.event }}
            <h5>Location:</h5>
            <div id="map"></div>
            <script type="text/javascript">

                let autocomplete;
                let map;
                let marker;
                
                function initMap() {
                    let initialLocation = document.getElementById("eventlocation").value;
                    if (!initialLocation.includes("\"")) {
                        initialLocation = initialLocation.replace("latitude", "\"latitude\"");
                        initialLocation = initialLocation.replace("longitude", "\"longitude\"");
                    }

                    initialLocation = JSON.parse(initialLocation);
                    let initialmapcenter = {
                        lat: initialLocation.latitude,
                        lng: initialLocation.longitude
                    };

                    map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 10,
                        center: initialmapcenter
                    });
                }
            </script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7E0Z5BPny7CTI5mm9MfxbdBKsjy94PXU&libraries=places&callback=initMap" async></script>
        {% else %}
        {% endif %}

        <hr/>

        <h1>Comments:</h1>

        {% if post.start_time %}
        
        {% else %}

        {% endif %}


        <!-- recursive comment revealing -->
        {% create_stack post.post_comments.all as commentstack %}
        {% create_stack post.post_comments.all as commentstackcopy %}
        {% for number in  commentstackcopy %}
            {% include 'posts/comment.html' %}
        {% endfor %}


        <form
            action="{% url "posts:create_comment" subcomment=0 postpk=post.pk commentpk=0 %}"
            method="POST"
            class="collapse show multi-collapse"
            id="initial_modal" >

            {{ comment_form|crispy }}
            {% csrf_token %}
            <button
                type="submit"
                class="btn btn-secondary">
                Submit
            </button>
        </form>

    </div>

{% endblock %}
