{% extends "base.html" %}
{% load crispy_forms_tags %}]
{% block page_title%}
    <title>Create Post</title>
{% endblock %}

{% block body %}

    <div style="margin-top: 30px;" class="container">
        <div class="card mt-5 box-blur">
            <div class="card-body">
                <center><h1>Create Post in {{ channel }}</h1></center>
                <form method="POST" action="{% url "posts:create" channel.pk %}">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <input type="submit" value="Submit">


                </form>

            </div>
        </div>

    </div>

{% endblock %}
