{% extends 'base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}


{% block page_title%}
    <title>Post: {{ post.title }}</title>

{% endblock %}

{% block body %}




    <div style="margin-top: 30px;" class="container">
        <div class="card mt-5 box-blur">
            <center>
                {% if post.title %}
                    <h1> {{ post.title }} </h1>
                {% else %}
                    <h1> {{ post.post.title }} </h1>
                {% endif %}
            </center>
            <br/>
            <h3>Description:</h3>
            <p>
                {% if post.message %}
                    {{post.message}}
                {% else %}
                    {{ post.post.message }}
                {% endif %}
            </p>

            <hr/>

            {% if post.start_time %}
                <input type="hidden" id="eventlocation" value="{{ post.exact_location }}" />
                <input type="hidden" id="starttime" value="{{ post.start_time }}" />
                <input type="hidden" id="endtime" value="{{ post.end_time }}" />
                <h5 id="startlabel">Starts At: {{ post.start_time }}</h5>
                <h5 id="endlabel">Ends At: {{ post.end_time }}</h5>
                <script>
                    document.getElementById('startlabel').innerText =
                        "Starts:" + document.getElementById('starttime').value.replace(/\"/g, " ");
                    document.getElementById('endlabel').innerText =
                        "Ends:" + document.getElementById('endtime').value.replace(/\"/g, " ");
                </script>
                <h5>Location:</h5>
                <div id="map"></div>
                <script type="text/javascript">

                    let autocomplete;
                    let map;
                    let marker;

                    function initMap() {
                        let initialLocation = document.getElementById("eventlocation").value;
                        if (!initialLocation.includes("\"")) {
                            initialLocation = initialLocation.replace("latitude", "\"latitude\"");
                            initialLocation = initialLocation.replace("longitude", "\"longitude\"");
                        }

                        initialLocation = JSON.parse(initialLocation);
                        let initialmapcenter = {
                            lat: initialLocation.latitude,
                            lng: initialLocation.longitude
                        };

                        map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 17,
                            center: initialmapcenter
                        });

                        marker = new google.maps.Marker({
                            position: initialmapcenter,
                            map: map
                        });
                    }
                </script>

                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7E0Z5BPny7CTI5mm9MfxbdBKsjy94PXU&libraries=places&callback=initMap" async></script>
                <style type="text/css">
                    /* Set the size of the div element that contains the map */
                    #map {
                    height: 400px;
                    /* The height is 400 pixels */
                    width: 100%;
                    /* The width is the width of the web page */
                    }
                </style>
            {% else %}
            {% endif %}

            <hr/>

            <h1>Comments:</h1>

            <!-- recursive comment revealing -->
            {% if post.title %}
                {% create_stack post.post_comments.all as commentstack %}
                {% create_stack post.post_comments.all as commentstackcopy %}
            {% else %}
                {% create_stack post.post.post_comments.all as commentstack %}
                {% create_stack post.post.post_comments.all as commentstackcopy %}
            {% endif %}
            {% for number in  commentstackcopy %}
                {% include 'posts/comment.html' %}
            {% endfor %}


            <form
                {% if post.title %}
                    action="{% url 'posts:create_comment' subcomment=0 postpk=post.pk commentpk=0 %}"
                {% else %}
                    action="{% url 'posts:create_comment' subcomment=0 postpk=post.post.pk commentpk=0 %}"
                {% endif %}
                method="POST"
                class="collapse show multi-collapse"
                id="initial_modal" >

                {{ comment_form.message }}
                <span id="comment-box">
                    {% csrf_token %}
                </span>
                 </br>
                 <button
                     type="submit"
                     class="btn btn-secondary">
                     Submit
                 </button>
                 <div class="float-right text-muted" id="wordCount">
                     500
                 </div>
            </form>

        </div>
    </div>

    <style>
        #id_message {
            width: 100%;
            height: 50%;
            border-radius: 10px;

        }
    </style>
    <script>
        $("#id_message").attr("maxlength", 500);
        var maxlength = 500;
        $("textarea").on("keyup", function(e) {
            var length = $(this).val().length;
            console.log(length);
            $('#wordCount').text(maxlength - length);
        });
     
    </script>
{% endblock %}
