{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

    <div style="margin-top: 30px;" class="container">
        <div class="card mt-5 box-blur">
            <div class="card-body">
                <h1>Create Post</h1>
                <form method="POST" action="{% url "posts:create"  %}">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <input type="submit" value="Submit">


                </form>

            </div>
        </div>

    </div>

{% endblock %}
